    <footer>
        <img src="static/ed.gif" alt="Radical Edward from Cowboy Bebop rocking side-to-side on a laundry basket." title="Ed has the best stims!">
        <a class="footer-icon-right" href="https://webring.xxiivv.com/#kira" target="_blank" rel="noopener">
          <img src="https://webring.xxiivv.com/icon.black.svg" style="height:32px" alt="XXIIVV webring">
        </a>
        <a class="footer-icon-left" href="https://debian.org" target="_blank" rel="noopener">
          <img src="static/debian.gif" style="height:32px" alt="This website powered by Debian.">
        </a>
    </footer>
    </main>

  </body>
</html>

