header {
  padding-left: 25px;
  padding-bottom: 25px;
}

nav {
  float: left;
  padding-left: 40px;
  padding-right: 40px;
  min-width: 20%;
}

main {
  float: left;
  max-width: 700px;
}

footer {
  border-top: 2px dotted pink;
  padding: 10px;
  clear: both;
  text-align: center;
}

blockquote {
  background-color: rgb(226,122,209,0.15);
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: pink;
}

ul.pages {
  padding-left: 0;
  list-style-type: none;
}

li.pages {
  margin-bottom: 8px;
}

body {
  background-color: LavenderBlush;
  background-position: -420px -64px;
  background-image: url('bg.jpg');
  color: DarkSlateGray;
  font-family: sans-serif;
  /* font-size: 100%; */
  /* max-width: 1000px; */
  /* margin: auto; */
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

a:link {
    color: green;
}
a:visited {
  color: purple;
}

a:link:active, a:visited:active {
    color: pink;
}

code {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(226,122,209,0.15);
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: pink;
}

pre {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(226,122,209,0.15);
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: pink;
}

body {
  background-color: LavenderBlush;
  background-position: -420px -64px;
  background-image: url('bg.jpg');
  color: DarkSlateGray;
  font-family: sans-serif;
}

/* Style <dl>'s like <ul>'s */

dl {
  padding-left: 40px;
}

dl > * {
  display: list-item;
}

dl dt, dl dd {
  display: inline;
}

dl dt {
  font-weight: bold;
}

dl dt::after {
  content: ':';
}

dl dd {
  margin: 0;
}

/* Ensure media doesn't become wider than the viewport and introduce
horizontal scrolling */
main img, main video {
  max-width: 100%;
  height: auto;
}

.footer-icon-right {
  float: right;
}
.footer-icon-left {
  float: left;
}
